<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
{% for msg in messages %}
{{ msg }}
{% endfor %}

<form action="" method="POST">
    {% csrf_token %}

    <a href="{% url 'registration' %}">Create new</a><br>

    <label for="">Username</label>
    <input type="text" name="username" placeholder="Enter here"><br>
    <label for="">Password</label>
    <input type="password" name="password" placeholder="Enter here"><br>
    <input type="submit" value="Login">
</form>
</body>
</html>
